* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: myfonts;
  src: url("../fonts/Poppins-Regular.ttf");
}

body {
  font-family: myfonts;
}

.dashbord-section {
  min-height: 100vh;
  height: auto;
  background-image: url("../images/bg-img5.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  z-index: 5;
  display: flex;
  justify-content: space-around;
  padding-left: 125px;
  width: 100%;
}

.header-img {
  position: relative;
}

.header-img img {
  padding: 20px;
}

.header ul {
  display: flex;
  list-style: none;
}

.header ul li {
  padding: 30px;
}

.menu-btn i {
  padding: 30px;
  font-size: 25px;
}

.header ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.text--black {
  color: black !important;
}

.sticky-header {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  transition: all 0.5s linear;
}

.pulse-effect-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 30px 300px 100px 300px;
}

.pulse-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 70px;
  display: inline-block;
  text-align: center;
  background-color: #00bcd4;
  position: relative;
  z-index: 1;
  animation: zoom 0.5s infinite;
}
.pulse-btn i {
  color: white;
}

@keyframes zoom {
  0% {
    box-shadow: 0px 0px 0 5px rgba(255, 255, 255, 0.9);
  }
  25% {
    box-shadow: 0px 0px 0 10px rgba(255, 255, 255, 0.6);
  }
  70% {
    box-shadow: 0px 0px 0 15px rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0px 0px 0 20px rgba(255, 255, 255, 0.1);
  }
}

.pulse-effect-section h1 {
  margin-top: 30px;
  font-size: 55px;
}

.pulse-effect-section p {
  margin-top: 20px;
  font-size: 15px;
  opacity: 0.9;
}

.btn-sec {
  margin-top: 20px;
}

.btn-sec-1 {
  padding: 15px 35px;
  background-color: #00bcd4;
  border: none;
  color: white;
  font-weight: 600;
}

.btn-sec-2 {
  padding: 15px 35px;
  background-color: transparent;
  border: none;
  color: white;
  font-weight: 600;
  margin: 10px;
  border: 1px solid white;
}

/*  side menu section */

.side-nav {
  width: 0%;
  position: fixed;
  max-width: 500px;
  height: 100vh;
  top: 0;
  background-color: #00bcd4;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  transition: width 0.5s linear;
}

.side-menu {
  padding: 50px;
}

.side-menu ul {
  list-style: none;
  align-items: flex-start;
  margin-top: 50px;
}
.side-menu ul li {
  margin-bottom: 15px;
}
.side-menu ul li a {
  text-decoration: none;
  font-size: 25px;
}

.side-menu a {
  color: white;
  text-decoration: none;
  text-align: end;
  font-size: 30px;
}
.left-navigation {
  float: right;
}

.side-menu span {
  padding: 0px 10px 0px 0px;
}

.social-icon {
  margin-top: 50px;
}

.side-menu p {
  margin-top: 20px;
  font-size: 15px;
}

/* compalte side-nav section */

.brand-section {
  min-height: 800px;
  height: auto;
  display: flex;
}

.brand-contant-sec {
  width: 50%;
  background-color: white;
}

.brand-contant {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 100px;
}
.brand-contant h6 {
  color: #00bcd4;
  font-size: 16px;
}
.brand-contant h1 {
  font-size: 48px;
  line-height: 60px;
  margin-top: 10px;
}
.brand-contant p {
  opacity: 0.7;
  margin-top: 20px;
}

.progress-bar-sec {
  margin-top: 30px;
}

.progress-bar {
  margin-top: 10px;
  width: 100%;
  border-radius: 25px;
  height: 12px;
  background-color: rgba(233, 230, 230, 0.925);
}
.pro-90 {
  background-image: linear-gradient(to right, #3264f5 18%, #7202bb 82%);
  width: 90%;
  border-radius: 25px;
  height: 12px;
}
.pro-75 {
  background-image: linear-gradient(to right, #3264f5 18%, #7202bb 82%);
  width: 75%;
  border-radius: 25px;
  height: 12px;
}

.progress {
  margin-top: 20px;
}
.progress-per {
  position: relative;
}
.progress-per span {
  position: absolute;
  right: 0;
}

.brand-contant button {
  margin-top: 50px;
  max-width: 150px;
  padding: 12px 30px;
  background-color: white;
}

.barnd-img-sec {
  width: 50%;
}

.barnd-img-sec img {
  width: 100%;
  vertical-align: middle;
}

.services-sec {
  width: 100%;
  height: auto;
  min-height: 700px;
  padding: 150px;
  background-color: #f8f9fa;
}

.about-contant {
  text-align: center;
  padding: 0px 150px;
}

.about-contant h6 {
  font-size: 16px;
}
.about-contant h1 {
  font-size: 50px;
}

.text-color {
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.services-card-sec {
  display: flex;
  margin-top: 100px;
}

.service-card {
  text-align: center;
}
.service-card h1 {
  font-size: 40px;
}

.service-card h6 {
  margin-top: 20px;
  font-size: 16px;
}
.service-card p {
  margin-top: 20px;
}

.digital-service-section {
  background-image: url("../images/bg-img6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  color: white;
}

.digital-service {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 500px;
  line-height: 40px;
}

.digital-service p {
  font-size: 16px;
}

.digital-service h1 {
  font-size: 40px;
}

.dig-sec-btn {
  padding: 15px 35px;
  background-color: #00bcd4;
  border: none;
  color: white;
  font-weight: 600;
  max-width: 200px;
  margin-top: 20px;
}

.creative-head-section {
  width: 100%;
}

.creative-main {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

.creative-con {
  text-align: center;
  padding: 50px 150px;
}
.creative-con h6 {
  font-size: 16px;
  opacity: 0.8;
}
.creative-con h1 {
  font-size: 50px;
}
.creative-con p {
  margin-top: 20px;
  font-size: 16px;
}

.creative-head-cards-sec {
  width: 100%;
}

.cards-sec {
  width: 100%;
  display: flex;
}

.card-sec-one {
  width: 50%;
}

.head-card {
  position: relative;
  width: 100%;
  display: flex;
}

.card-img {
  width: 50%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
}

.content-overlay {
  position: absolute;
  width: 50%;
  height: 100%;
  /* right: 50%; */
  z-index: -1;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  transition: all 0.3s linear;
}

.content-overlay2 {
  position: absolute;
  width: 50%;
  height: 100%;
  /* left: 50%; */
  right: 0;
  z-index: -1;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  transition: all 0.5s linear;
}

.head-card:hover .card-contant {
  color: white;
}

.head-card:hover .text-color {
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.head-card:hover .content-overlay {
  right: 0;
}

.head-card:hover .content-overlay2 {
  left: 0;
}

.head-card:hover .card-img img {
  transform: scale(1.1);
}

.card-contant {
  width: 50%;
  padding: 20px;
}

.card-contant p {
  margin-top: 10px;
  opacity: 0.6;
}

.card-social-icon {
  margin-top: 30px;
}

.card-social-icon span {
  padding: 10px;
  font-size: 20px;
  opacity: 0.6;
}

.card-sec-two {
  width: 50%;
}

.creative-portfolio-section {
  background-color: #f8f9fa;
  width: 100%;
  margin-top: 100px;
  height: auto;
  min-height: 1300px;
  margin-bottom: 200px;
}

.portfolio-work-sec {
  width: 50%;
}

.creative-portfolio-contant-sec {
  width: 50%;
}

.portfolio-sec {
  display: flex;
  padding: 0px 100px;
}

.portfolio-work-wrap {
  margin: 20px;
}

.img-overflow {
  margin-top: -100px !important;
}

.work-contant {
  display: flex;
  margin-top: 50px;
}

.project-cont p {
  font-size: 15px;
}
.project-cont h1 {
  font-size: 70px;
  color: #00bcd4;
  margin-left: 10px;
}

.btn-wrap {
  padding: 50px 40px;
}

.btn-wrap button {
  padding: 12px 35px;
  background: linear-gradient(to right, #3264f5 18%, #7202bb 82%);
  color: white;
  border: none;
  font-weight: 500;
}

.img-wrap {
  position: relative;
  background-color: white;
  margin-top: 40px;
  width: 500px;
  height: 534px;
}

.img-wrap img {
  width: 100%;
  padding: 20px;
}

.portfolio-card-overlay {
  position: absolute;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 500px;
  color: white;
  font-size: 16px;
  z-index: 1;
  opacity: 0.8;
  font-weight: 0;

  height: 534px;
  visibility: hidden;
  transition: all 0.5s linear;
}
.portfolio-card-overlay span {
  font-size: 100px;
}

.img-wrap:hover .portfolio-card-overlay {
  visibility: visible;
}

.portfolio-contant {
  text-align: center;
  padding: 30px;
}

.portfolio-contant h6 {
  font-size: 18px;
  color: #00bcd4;
}

.portfolio-contant h1 {
  font-size: 50px;
  margin-top: 10px;
}

.portfolio-contant p {
  margin-top: 10px;
}

.img-overflow2 {
  margin-bottom: -140px;
}

.pricing-sec {
  padding: 100px;
}

.pricing-heading {
  padding: 0px 200px;
  text-align: center;
}
.pricing-heading h6 {
  font-size: 18px;
  font-weight: 400;
}
.pricing-heading h1 {
  font-size: 50px;
}
.pricing-heading p {
  margin-top: 10px;
  opacity: 0.6;
  font-size: 16px;
}

.pricing-plan-sec {
  margin-top: 100px;
  display: flex;
}

.starter-plan-section {
  width: 50%;
  background-color: #e9edf0;
  border-radius: 10px;
  margin: 10px;
}

.business-plan-section {
  width: 50%;
  background-color: #e9edf0;
  border-radius: 10px;
  margin: 10px;
}

.business-plan-section:hover {
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  color: white;
}

.starter-plan-section:hover .prc-btn-wrp button {
  background-color: white;
  color: black;
}

.starter-plan-contant {
  padding: 80px;
}
.starter-plan-contant h1 {
  font-size: 30px;
  font-weight: 400;
}
.starter-plan-contant p {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
}

.starter-heading {
  font-size: 40px;
  font-weight: 300;
  color: #00bcd4;
  margin-top: 20px;
}

.starter-plan-contant h2 span {
  font-size: 20px;
  bottom: 20;
  color: black;
}

.starter-plan-contant ul {
  list-style: none;
}

.starter-plan-contant ul li {
  padding-top: 20px;
}

.starter-plan-contant ul li i {
  padding-right: 20px;
}

.starter-plan-section:hover {
  background-color: #00bcd4;
  color: white !important;
}

.starter-plan-section:hover .starter-heading {
  color: white !important;
}

.starter-plan-section:hover span {
  color: white;
}

.prc-btn-wrp {
  margin-top: 30px;
}

.prc-btn-wrp button {
  padding: 15px 40px;
  color: white;
  background: #00bcd4;
  border: none;
  font-size: 16px;
}

.prc-btn-wrp button:hover {
  background: #00bcd4 !important;
  border: 2px solid white;
}

.business-plan-contant {
  padding: 80px;
}

.business-plan-contant h1 {
  font-size: 30px;
  font-weight: 400;
}

.business-plan-contant p {
  font-size: 14px;
  opacity: 0.8;
  margin-top: 10px;
}

.business-heading {
  font-size: 40px;
  font-weight: 300;
  margin-top: 20px;
}

.business-plan-section:hover .business-heading {
  color: white;
}

.business-plan-contant h2 span {
  font-size: 20px;
  bottom: 20;
  color: black !important;
}

.business-plan-contant ul {
  list-style: none;
}

.business-plan-contant ul li {
  padding-top: 20px;
}

.business-plan-contant ul li i {
  padding-right: 20px;
}

.prc-btn-wrp-b {
  margin-top: 30px;
}

.business-plan-section:hover .prc-btn-wrp-b button {
  background: white;
  color: black;
}

.prc-btn-wrp-b button {
  padding: 15px 40px;
  color: white;
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%);
  border: 2px solid transparent;
  font-size: 16px;
}

.prc-btn-wrp-b button:hover {
  background: linear-gradient(to right, #3264f5 2%, #7202bb 82%) !important;
  border: 2px solid white;
}
.statistics-section {
  display: flex;
}

.statistic-one {
  width: 50%;
  background-color: #e9edf0;
  height: auto;
  min-height: 600px;
}

.statistic-contant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 600px;
  padding: 50px;
}
.statistic-contant span {
  font-size: 30px;
}
.statistic-contant p {
  font-size: 15px;
  margin-top: 20px;
  opacity: 0.7;
}

.sta-img-wrap {
  margin-top: 30px;
}

.sta-img-wrap img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
}

.statistic-contant h2 {
  margin-top: 10px;
  color: #00bcd4;
}

.sta-pera {
  margin-top: 0px !important;
}

.sta-pagination {
  margin-top: 50px;
  padding-bottom: 80px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.statistic-two {
  position: relative;
  width: 50%;
  height: auto;
  min-height: 600px;
  background: url("../images/bg-img1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.statistic-two-sec {
  position: absolute;
  z-index: 1;
  width: 100%;
  background: linear-gradient(to bottom right, #3264f5 2%, #7202bb 82%);
  opacity: 0.7;
  height: 100%;
}

.sta-contant {
  margin-left: -100px;
}

.statistic-card1 {
  display: flex;
  justify-content: space-around;
}

.sta-card-con {
  text-align: left;
  width: 200px;
  z-index: 2;
  color: white;
}

.statistic-card1 h1 {
  font-size: 40px;
}

.statistic-card2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.statistic-card2 h1 {
  font-size: 40px;
}

.mobile-app-sec {
  padding: 100px;
  display: flex;
  flex-direction: column;
}

.mobile-heading-contant {
  text-align: center;
  padding: 0px 200px;
}

.mobile-heading-contant h6 {
  font-size: 16px;
}

.mobile-heading-contant h1 {
  font-size: 50px;
}

.mobile-heading-contant p {
  margin-top: 10px;
  opacity: 0.7;
}

.mobile-app-design-section {
  display: flex;
  margin-top: 50px;
}

.mobile-theme-contant {
  padding: 0px 30px;
}

.mobile-design {
  text-align: center;
  margin-top: 50px;
}

.code-contant {
  padding: 0px 30px;
}

.mobile-card-contant {
  text-align: center;
  margin-top: 30px;
}

.mobile-card-contant span {
  font-size: 38px;
}

.mobile-card-contant h2 {
  margin-top: 10px;
}

.mobile-card-contant p {
  margin-top: 10px;
  opacity: 0.7;
}

.mobile-design img {
  position: relative;
  width: 250px;
  height: 500px;
}

.mobile-slide img {
  position: absolute;
  z-index: 1;
  width: 210px;
  height: 380px;
  margin: 60px -105px;
}

.dream-sectiom {
  display: flex;
}

.dream-sec {
  width: 50%;
  height: 500px;
  background-color: #f8f9fa;
}

.dream-contant {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 500px;
}

.dream-contant h6 {
  font-size: 16px;
  color: #00bcd4;
}
.dream-contant h1 {
  font-size: 50px;
}
.dream-contant p {
  font-size: 14px;
  margin-top: 20px;
  opacity: 0.6;
}

.dream-btn {
  margin-top: 20px;
}

.dream-btn button {
  padding: 15px 40px;
  background: linear-gradient(to right, #3264f5 18%, #7202bb 82%);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.dream-img-wrap {
  height: 500px;
  width: 50%;
}
.dream-img-wrap img {
  height: 100%;
  width: 100%;
}

.contact-section {
  display: flex;
}

.contact-detail-section {
  position: relative;
  z-index: 1;
  background: url("../images/address-image.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  width: 50%;
  height: 550px;
}

.contact-detail-overlay {
  width: 100%;
  position: absolute;
  z-index: -1;
  width: 100%;
  background: linear-gradient(to bottom right, #3264f5 2%, #7202bb 82%);
  opacity: 0.7;
  height: 100%;
}

.contact-detail-contant {
  color: white;
  text-align: center;
  padding: 100px 50px;
}
.contact-detail-contant h6 {
  font-size: 16px;
}
.contact-detail-contant h1 {
  font-size: 47px;
}
.contact-detail-contant address {
  margin-top: 20px;
}
.contact-social-icon {
  margin-top: 30px;
}

.contact-social-icon span {
  padding: 10px;
}

.contact-social-icon span i {
  width: 40px;
  line-height: 40px;
  height: 40px;
  border-radius: 50px;
}

.contact-social-icon span:hover i {
  color: black;
  background: white;
}

.contact-form-section {
  width: 50%;
  height: 550px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 100px 0px;
}

.contact-form {
  width: 100%;
  padding: 10px;
}

.contact-form form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-form input {
  width: 40%;
  padding: 15px 0px;
  opacity: 0.5;
  border: none;
  border-bottom: 2px solid #d8d9da;
  outline: none;
}
.contact-form textarea {
  width: 100%;
  padding: 30px 0px;
  opacity: 0.5;
  margin-left: 30px;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid #d8d9da;
  outline: none;
}

.from-btn button {
  margin-top: 50px;
  padding: 15px 40px;
  background: linear-gradient(to right, #3264f5 18%, #7202bb 82%);
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.footer-section {
  text-align: center;
  padding: 100px 300px;
}

.footer-social-icon span {
  padding: 10px;
}

.footer-social-icon span i {
  width: 50px;
  line-height: 50px;
  height: 50px;
  border-radius: 50px;
}

.footer-social-icon span:hover i {
  color: white;
  background: #00bcd4;
}

.footer-section p {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
}

.top-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: linear-gradient(to right, #3264f5 18%, #7202bb 82%);
  border: none;
  border-radius: 50%;
  z-index: 10;
  color: white;
  bottom: 20px;
  right: 30px;
}

.top-btn i {
  position: relative;
  font-size: 20px;
}
